/**************************************** default style *********************************************/

li {
	list-style: none;
}
.clr {
	clear: both;
}

/************************************** end default style *******************************************/
#header_top {
	background: #039BE5;
}
.icon_setting_main {
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: #0a368a;
    border-radius: 50%;
    display: inline-block;
    margin: 0 25px;
    cursor: default;
}
.icon_setting_main:hover, .fav_action:hover {
	box-shadow: 1px 2px 10px;
}
.icon_setting_main .fa {
	font-size: 18px;
    line-height: 40px;
    color: #fff;
}
.fav_cls_main {
	text-align: right;
    margin-top: 15px;
}

.login_and_resg label {
	color: #FFF;
	cursor: pointer;
}
.login_and_resg label:hover {
	color: #FFF;	
	text-decoration: underline;
}
.fav_action {
	height: 40px;
    line-height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #0a368a;
    border-radius: 50%;
    text-align: center;
    margin-left: 30px;
}
.fav_cls_main label {
	color: #FFF;
}
.header-title img {
	width: 199px; 
    max-height: 60px;
    display: inline-block;
    margin: 5px 0;
    float: left;
}
.login_and_resg {
	text-align: center;
    margin-top: 15px;
}
.sidenav-toggle .fa {
	color: #FFF;
    font-size: 20px;
    transition: color .15s linear;
    line-height: 40px;
}
#header_bot {
	height: 530px;
    background: #0a368a;
}
.header_bot_menu {
	color: white;
}
.header_bot_menu ul {
    padding: 0;
    margin-top: 10px;
}
.header_bot_menu ul li {
    display: inline-block;
    margin-right: 15px;
}
.header_bot_menu ul li {
    display: inline-block;
}
.header_bot_menu a {
	color: white;
}
.header_bot_menu a:hover {
	color: white;
	text-decoration: none;	
}
.header_bot_menu a.mega_menu_link:after {
	content: '\f0d7';
    display: inline-block;
    font-family: FontAwesome;;
    margin: 0 0 0 6px;
    vertical-align: top;
    color: white;
}
.relative_video {
    position: relative;
    height: 450px;
    overflow: hidden;
    width: 100%;
}
#cover-video {
    position: absolute;
    width: 100%;
    z-index: 1;
}
#homepage_search {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 30px;
}
#homepage_search .title_page {
    color: white;
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.home_search_main {
	width: 944px;
    margin: 0 auto;
    color: white;
    background: #039be5;
}
.home_search_main:hover {
    background: rgba(0, 116, 228, 0.6) none repeat scroll 0 0;
}
.home_search_main ul {
	margin-bottom: 0;
	padding-top: 10px;
}
.home_search_main ul li {
	width: 141px;
	height: 62px;
	display: inline-block;
	text-align: center;
	background: url("../images/button_search.png");
    cursor: pointer;
}
.home_search_main ul li.active:after {
	content: "\f0d8";
	color: white;
	font-family: FontAwesome;
	opacity: 1;
    font-size: 35px;
}
.home_search_main ul li:after {
	content: "\f0d8";
	color: white;
	opacity: 0;
	font-family: FontAwesome;
    font-size: 35px;
}
.home_search_main ul li span {
	display: block;
    margin-top: 15px;
}
.home_search_main ul li p {
	margin: -5px 0 0 0;
}
.home_search_main form {
	padding: 0 20px 10px 20px;
	position: relative;
}
.home_search_main form input[type=text] {
    height: 80px;
    margin-left: 22px;
    width: 95.4%;
    border-radius: 10px;
    border: 0;
    padding: 20px;
    margin-top: -11px;
}
.home_search_main form input[type=submit] {
	background: url("../images/submit_search.png");
	width: 157px;
    height: 62px;
    position: absolute;
    right: 55px;
    top: -2px;
}
.home_search_main form button {
	background: url("../images/search_option.png");
    margin: 20px 0px 5px 400px;
    width: 188px;
    height: 62px;
}
.hot_properties {
	text-align: center;
}
.hot_properties h2 {
	font-weight: bold;
}
.hot_properties p {
    margin-bottom: 40px;
    font-size: 18px;
}
.get_started {
	background: url("../images/getstart_bg.png") no-repeat;
    text-align: center;
    color: white;
    height: 307px;
}
.get_started h2 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 35px;
}
.get_started p {
	font-size: 18px;
}
.get_started button {
    width: 188px;
    height: 62px;
    background: url("../images/getstart_search_bg.png") no-repeat scroll 0 0 / 100% auto;
    margin: 20px 0;
}
.content_video h2 {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}
.content_video .video_play {
    float: left;
    width: 65%;
    padding: 0 50px;
}
.content_video .video_play img {
    width: 100%;
}
.content_video .video_text b {
    margin-bottom: 15px;
    display: block;
}
.content_video .video_text p {
    text-align: justify;
    margin-right: 50px;
}
.content_video .video_text button {
	width: 188px;
	height: 62px;
    background: url("../images/watch_now_bg.png");
    margin-top: 20px;
}
.top_agents h2 {
	font-weight: bold;
    text-align: center;
}
.main_top_agents {
	background: url("../images/top_agents_bg.png") no-repeat;
    text-align: center;
    height: 331px;
    padding: 15px 0 0 3.5%;
}
.top_agents_content {
    float: left;
    background: rgba(0, 116, 228, 0.4) none repeat scroll 0 0;
    margin: 0 0.5%;
    width: 31%;
    height: 304px;
}
.avartar_agents {
	float: left;
	width: 50%;
	height: 274px;
    padding: 5px 10px;
    margin: 15px 0;
    border-right: 1px solid white;
}
.avartar_agents img {
    width: 100%;
}
.detail_agents {
	float: left;
	width: 50%;
    color: white;
    padding: 50px 10px 0 10px;
}
.detail_agents p {
	margin: 0;
    text-align: left;
}
.detail_agents .agents_properties {
	margin-bottom: 10px;
}
.real_estate_news h2 {
	text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.real_estate_all_post {
	padding: 0 0 80px 4%;
}
.real_estate_post {
	float: left;
    width: 31%;
    margin: 0 0.5%;
    border: 2px solid #eeeeee;
}
.real_estate_post_img {
	width: 100%;
    position: relative;
}
.real_estate_post_img img {
    width: 100%;
}
.real_estate_post_img p {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 116, 228, 0.6) none repeat scroll 0 0;
}
.real_estate_post_detail {
	padding: 20px;
    text-align: right;
}
.real_estate_post_detail p {
	text-align: justify;
}
.real_estate_post_detail a {
	font-style: italic;
}
.body_footer_content {
	background: #04286e;
    color: white;
}
.list_footer h4 {
	border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.body_footer_line {
    width: 100%;
    height: 5px;  
    padding: 50px 0;
}
.line_footer {
	background: url("../images/footer_line.png") no-repeat;
	max-width: 942px;
	height: 2px;
	margin: 0 auto;
}
.body_footer_bot {
	text-align: center;
}
.footer_bot_one {
	margin-bottom: 15px;
}
.footer_bot_one span {
	margin-right: 20px;
}
.footer_bot_two {
	margin-bottom: 40px;
}
.footer_bot_two > span {
    margin-right: 5px;
}
.footer_icon_link {
	display: inline-block;
}
.footer_icon_link a i{
	display: inline-block;
	color: white;
	font-weight: bold;
	font-style: normal;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 20px;
}